// Actions bar in main container
.c-main {
    &__actions {
        --accent-color: $c-accent;

        width: 100vw;
        overflow: hidden;
        background-color: var(--accent-color);

        input, .c-query {
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            text-align: center;
            font-weight: 900;
        }

        input {
            background-color: transparent;
            width: calc(50vw - 40px);
            border: none;
            padding: 0 30px 0 10px;
            float: left;
            cursor: pointer;
            color: $c-neutral--dark;
            &:focus {
                color: $c-neutral--light;
            }
        }

        .fa-search, .fa-refresh {
            line-height: 30px;
            font-size: 20px;
            position: absolute;
        }

        .fa-search {
            pointer-events: none;
            left: calc(50vw - 30px);
        }

        .fa-refresh {
            cursor: pointer;
            right: calc(50vw - 30px);
            color: var(--accent-color);
        }

        .c-query {
            color: var(--accent-color);
            background-color: $c-neutral--dark;
            width: 50vw;
            display: inline-block;
            vertical-align: top;
        }
    }
}
