// Core
@import "core/lib/font-awesome.min";
@import "core/reset";
@import "core/variables";
@import "core/mixins";
@import "core";

// Components

body {

    height: 100vh;
    background-color: #444444;


    .c-header {
        background-color: $c-neutral__light;
        text-align: center;
        padding: 20px 10px 40px;
        height: 23vw;

        &__title {
            font-size: 20vw;
            font-weight: 900;
        }

        &__sub-title {
            letter-spacing: 2px;
            max-width: 62vw;
            margin: auto;
            text-align: left;
            font-size: 3vw;
            color: #7d7d7d;
            font-weight: 900;
            .c-sub-title__img {
                float: right;
                max-width: 40%;
                margin: 4px -6px 0 0;
            }
        }
    }

    .c-main {

        height: calc(100vh - 23vw - 80px);
        min-height: 50vh;

        .o-loading-icon {
            position: absolute;
            color: white;
            top: 50%;
            left: calc(50% - 10vw);
            font-size: 20vw;
            z-index: 10;
        }

        .c-main__actions {
            width: 100vw;
            overflow: hidden;
            background: aquamarine;
            input {
                background-color: transparent;
                width: calc(50vw - 40px);
                border: none;
                height: 30px;
                line-height: 30px;
                font-size: 16px;
                padding: 0 30px 0 10px;
                float: left;
                text-align: center;
                font-weight: 900;
                cursor: pointer;
                color: #757575;
                &:focus {
                    color: #5A5A5A;
                }
            }
            .fa-search {
                line-height: 30px;
                pointer-events: none;
                font-size: 20px;
                position: absolute;
                left: calc(50vw - 30px);
            }

            .c-query {
                color: aquamarine;
                background-color: #212121;
                width: 50vw;
                display: inline-block;
                text-align: center;
                font-weight: 900;
                line-height: 30px;
                vertical-align: top;
                font-size: 16px;
            }
        }


        .c-carousel {
            white-space: nowrap;
            height: calc(100% - 10px);
            overflow-x: scroll;
            overflow-y: hidden;
            display: block;
            -webkit-overflow-scrolling: touch;
            &::-webkit-scrollbar {
                display: none;
            }
            .c-gif {
                height: 100%;
                display: inline-block;
                position: relative;
                padding: 2vw;
                transform: translate(0);

                & > span {
                    height: 100%;
                    vertical-align: middle;
                    display: inline-block;
                }
                & > div {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: -1;
                    filter: blur(2px);
                    background-size: cover;
                    background-position: center;
                    opacity: .2;
                }
                video {
                    max-width: 90vw;
                    height: 45vh;
                    width: auto;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }
    }
}
