// Core
@import "core/lib/font-awesome.min";
@import "core/reset";
@import "core/variables";
@import "core/mixins";
@import "core";

// Components
@import "header";
@import "main";
@import "main/actions";
@import "main/carousel";

body {
    height: 100vh;
    background-color: $c-primary--dark;

    .loading {
        & > .o-loading-icon {
            display: inline-block !important;
        }
    }
}
